VRShop/.vs/
VRShop/Library/metadata/
VRShop/Library/PlayerDataCache/
VRShop/Library/ScriptAssemblies/
VRShop/Library/ShaderCache/
VRShop/Temp/

VRShop/Library/EditorInstance.json
VRShop/Library/CurrentMaximizeLayout.dwlt
VRShop/Library/CurrentLayout.dwlt
UnityLockFile

*.log
*.meta

