VRShop/.vs/
VRShop/Library/metadata/
VRShop/Library/PlayerDataCache/
VRShop/Library/ScriptAssemblies/
VRShop/Library/ShaderCache/
VRShop/Temp/

VRShop/Library/EditorInstance.json
UnityLockFile

*.log
*.meta
